<!doctype html>
<html lang="en" data-critters-container>
<head>
  <meta charset="utf-8">
  <title>AngularFlask</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="../static/styles-5INURTSO.css"></head>
<body>
  <app-root></app-root>
<script src="../static/polyfills-FFHMD2TL.js" type="module"></script><script src="../static/main-H7YQI7NF.js" type="module"></script></body>
</html>
