<nav class="sidebar">
    <img routerLink="/home-page" src="app-logo.png" alt="App Logo" class="app-logo">
    <hr>
    <ul>
      <li>
        <a routerLink="/dashboard">
          <img src="icons/dashboard.png" alt="dashboardIcon" class="nav-icon">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/apartments">
          <img src="icons/apartment.png" alt="apartment Icon" class="nav-icon">
          Apartments
        </a>
      </li>
      <li>
        <a routerLink="/contracts">
          <img src="icons/contract.png" alt="contract Icon" class="nav-icon">
          Contracts
        </a>
      </li>
      <li>
        <a routerLink="/messages">
          <img src="icons/messages.png" alt="messages Icon" class="nav-icon">
          Messages
        </a>
      </li>
      <li>
        <a routerLink="/maintanance">
          <img src="icons/maintanance.png" alt="maintanance Icon" class="nav-icon">
          Maint. & Repairs
        </a>
      </li>
      <li>
        <a routerLink="/payments">
          <img src="icons/payments.png" alt="paymentsIcon" class="nav-icon">
          Payments
        </a>
      </li>
      <li>
        <a routerLink="/bank-cards">
          <img src="icons/bank_cards.png" alt="bank-cards Icon" class="nav-icon">
          Banks & Cards
        </a>
      </li>
      <li>
        <a routerLink="/help">
          <img src="icons/help.png" alt="Help Icon" class="nav-icon">
          Help
        </a>
      </li>
      <li>
        <a routerLink="/home-page">
          <img src="icons/logout.png" alt="logout Icon" class="nav-icon">
          Logut
        </a>
      </li>
    </ul>
  </nav>
  